<div class="container">
  <h3>Products</h3>
  <p>Date: {{ today | date : 'longDate' | uppercase }}</p>

  <div class="card bg-light m-3" *ngFor="let product of products">
    <h4 class="card-header">{{ product.name | uppercase }}</h4>
    <div class="card-body">
      <p class="card-text" [ngStyle]="{color: product.isAvailable ? 'blue' : 'orange'}">{{ product.description }}</p>
      <p class="card-text"><strong class="mr-2">Price:</strong> <em>{{ product.price | currency : 'INR' }}</em></p>
      <p class="card-text">
        <strong class="mr-2">Available?</strong>
        <em class="badge"
          [ngClass]="{ 'badge-success': product.isAvailable, 'badge-danger': !product.isAvailable }">{{ product.isAvailable ? 'Yes' : 'No' }}</em>
      </p>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-warning btn-sm">
        Delete
      </button>
    </div>
  </div>

</div>