<h4>{{ mode }} Product</h4>
<div class="card bg-light">
  <div class="card-body">
    <form #productForm="ngForm" (ngSubmit)="onSave()">
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" id="name" name="name" placeholder="Enter name" ngModel required
          minlength="3" #name="ngModel" />
        <div class="alert alert-warning" *ngIf="name.touched && !name.valid">
          <div *ngIf="name.hasError('required')">
            Name is required.
          </div>
          <div *ngIf="name.hasError('minlength')">
            Name should contain at least 3 characters.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" rows="3" placeholder="Enter description" id="description" name="description"
          ngModel required #description="ngModel"></textarea>
        <div class="alert alert-warning" *ngIf="description.touched && !description.valid">
          Description is required.
        </div>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input class="form-control" type="text" id="price" name="price" placeholder="Enter price" ngModel required
          #price="ngModel" />
        <div class="alert alert-warning" *ngIf="price.touched && !price.valid">
          Price is required.
        </div>
      </div>

      <div class="form-group form-check">
        <input type="checkbox" id="isAvailable" name="isAvailable" class="form-check-input" value="true" ngModel
          #isAvailable="ngModel" />
        <label for="isAvailable" class="form-check-label">Available?</label>
      </div>

      <div class="text-right">
        <button type="submit" [disabled]="!productForm.valid" class="btn btn-outline-primary">Save</button>
      </div>
    </form>
  </div>
</div>