<div class="card bg-light mt-3">
  <div class="card-body">
    <h5 class="card-title">Show</h5>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="availableOptions" id="all" value="all"
        (click)="onFilterClick($event)" checked>
      <label class="form-check-label" for="all">All</label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="availableOptions" id="available" value="available"
        (click)="onFilterClick($event)">
      <label class="form-check-label" for="available">Available</label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="availableOptions" id="notAvailable" value="notAvailable"
        (click)="onFilterClick($event)">
      <label class="form-check-label" for="notAvailable">Not available</label>
    </div>

  </div>
</div>